.input_bar {
  margin-top: 60%;
  width: 100%;
}

.input_bar textarea {
  width: 80%;
  min-height: 50px;
  max-height: 300px;
  height: auto;
  resize: none;
  box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
  field-sizing: content; /* auto expands with content */
}

